@page
@model REstate.Pages.Admin.SellHouseModel

@{
    ViewData["Title"] = "SellHouse";
}
<div class="container">
    <h1>SellHouse</h1>

    <h4>Vente</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Vente.Nom" class="control-label"></label>
                    <input asp-for="Vente.Nom" class="form-control" />
                    <span asp-validation-for="Vente.Nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vente.Prenom" class="control-label"></label>
                    <input asp-for="Vente.Prenom" class="form-control" />
                    <span asp-validation-for="Vente.Prenom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vente.IdenCard" class="control-label"></label>
                    <input asp-for="Vente.IdenCard" class="form-control" />
                    <span asp-validation-for="Vente.IdenCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vente.Adress" class="control-label"></label>
                    <input asp-for="Vente.Adress" class="form-control" />
                    <span asp-validation-for="Vente.Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vente.NumeroDeTlf" class="control-label"></label>
                    <input asp-for="Vente.NumeroDeTlf" class="form-control" />
                    <span asp-validation-for="Vente.NumeroDeTlf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vente.DateAchat" class="control-label"></label>
                    <input asp-for="Vente.DateAchat" class="form-control" />
                    <span asp-validation-for="Vente.DateAchat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>